
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* body {

    font-family: 'Lora', serif !important;
}
.root {
    font-family: 'Lora', serif;

}
* {
    font-family: 'Lora', serif;
   
}

h2 {
    font-family: 'Lora', serif;
    font-size: 800;
} */
